@import 'shared-variables.less';

.root {
  display: inline-block;
  height: 20px;
}

.button {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 20px;

  &:last-child {
    margin-right: 0;
  }
}

