// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-tabs,
ak-tabs {
  display: block;

  &:not([defined]) {
    display: none;
  }
}
