@import 'shared-variables.less';

.root {
  border: 1px solid #DEE1E6;

  .childContent() { margin: 20px; }
  > slot > * { .childContent(); }
  > ::content > * { .childContent(); }
  > ::slotted(*) { .childContent(); }
}

.openTop {
  border-top: 0;
  padding-top: 1px;
}

.openBottom {
  border-bottom: 0;
  padding-bottom: 1px;
}
