// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-lozenge,
ak-lozenge {
  display: inline-flex;

  &:not([defined]) {
    display: none;
  }
  > _shadow_root_ {
    display: inline-flex;
  }
}
