// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

.lozenge {
  border-radius: @border-radius;
  box-sizing: border-box;
  display: inline-flex;
  font-size: @lozenge-font-size;
  font-weight: 700;
  line-height: 1;
  max-width: @lozenge-max-width;
  padding: 2px 4px 3px 4px;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;
}

.content {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.default {
  background: @default-bg;
  color: @default-text;

  &[bold] {
    background: @default-bold-bg;
    color: @default-bold-text;
  }
}
.success {
  background: @success-bg;
  color: @success-text;

  &[bold] {
    background: @success-bold-bg;
    color: @success-bold-text;
  }
}
.removed {
  background: @removed-bg;
  color: @removed-text;

  &[bold] {
    background: @removed-bold-bg;
    color: @removed-bold-text;
  }
}
.inprogress {
  background: @inprogress-bg;
  color: @inprogress-text;

  &[bold] {
    background: @inprogress-bold-bg;
    color: @inprogress-bold-text;
  }
}
.new {
  background: @new-bg;
  color: @new-text;

  &[bold] {
    background: @new-bold-bg;
    color: @new-bold-text;
  }
}
.moved {
  background: @moved-bg;
  color: @moved-text;

  &[bold] {
    background: @moved-bold-bg;
    color: @moved-bold-text;
  }
}
