// editor
@ak-editor-inactive-foreground: #42526E;
@ak-editor-focus: #0091EA;
@ak-editor-subtle-accent: #DEE1E6;
@ak-editor-active-background: #42526E;
@ak-editor-active-foreground: white;
@ak-editor-dropdown-active-background: #091E42;
@ak-editor-popup-background: #253858;
@ak-editor-popup-text: #BFEBFF;
@ak-editor-primary-button: #165ECC;

// Reds
@ak-color-R50: #FFE1E4;
@ak-color-R100: #FDAFAC;
@ak-color-R200: #F48580;
@ak-color-R300: #ED5451;
@ak-color-R400: #D93A35;
@ak-color-R500: #BF2117;

// Yellows
@ak-color-Y50: #FFF6C9;
@ak-color-Y100: #FFE580;
@ak-color-Y200: #FFD740;
@ak-color-Y300: #FFC400;
@ak-color-Y400: #FFAB00;
@ak-color-Y500: #FF991F;

// Greens
@ak-color-G50: #E2FFEE;
@ak-color-G100: #78F0B7;
@ak-color-G200: #64E6A4;
@ak-color-G300: #48CC8C;
@ak-color-G400: #2DB07C;
@ak-color-G500: #008364;

// Blues
@ak-color-B50: #BFEBFF;
@ak-color-B100: #23A9FA;
@ak-color-B200: #0091EA;
@ak-color-B300: #0074E0;
@ak-color-B400: #165ECC;
@ak-color-B500: #1251AE;

// Purples
@ak-color-P50: #E3E8F5;
@ak-color-P100: #B6AFDB;
@ak-color-P200: #8D86BF;
@ak-color-P300: #6C64A6;
@ak-color-P400: #4B4388;
@ak-color-P500: #3E3678;

// Neutrals (Comments taken from https://extranet.atlassian.com/display/ADG/Harden+-+Color)
@ak-color-N10: #F7F8F9; // Sub-background
@ak-color-N20: #ECEEF1; // Primary color, default btns, rest dropdowns, navigation
@ak-color-N30: #E5E8EC; // Hover btns
@ak-color-N40: #CFD4DB; // Disabled btns, tabs line, forms, editor line, checkbox
@ak-color-N50: #C1C7D0; // Nominated for removal from palette
@ak-color-N60: #B3BAC5; // Nominated for removal from palette
@ak-color-N70: #A5ADBA; // Nominated for removal from palette
@ak-color-N80: #97A0AF; // Nominated for removal from palette
@ak-color-N90: #8993A4; // Nominated for removal from palette
@ak-color-N100: #7A869A; // Nominated for removal from palette
@ak-color-N200: #6C798F; // Select tabs, radio, forms
@ak-color-N300: #5E6C84; // Tables
@ak-color-N400: #505F79; // Nominated for removal from palette
@ak-color-N500: #42526E; // Dropdowns, select btns, default tabs, forms, tables, editor icons, navigation
@ak-color-N600: #344563; // Issue sub title
@ak-color-N700: #253858; // Primary color, dropdowns
@ak-color-N800: #172B4D; // Dropdowns, tables, tooltip
@ak-color-N900: #091E42; // Dropdowns, body, title
