// You can use element selectors here (e.g. whatever is exposed in index.register.js)
// to style your web component light DOM.

// Anything in here leaks to the rest of the page and nothing in here can affect things within
// the shadow part of the component.

@import 'shared-variables.less';

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-badge,
ak-badge {
  display: inline-block;

  &:not([defined]) {
    display: none;
  }
}
