@import 'shared-variables.less';

@ak-navigation-link-color: @ak-color-N500;
@ak-navigation-selected-link-color: @ak-color-B500;

.wrapper {
  &:hover::before {
    background: @ak-color-N30;
  }
  &::before {
    content: '';
    position: absolute;
    right: 0;
    height: 40px;
    left: -20px;
  }

  color: @ak-navigation-link-color;
  margin: 10px 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.link {
  color: currentColor;
  text-decoration: none;
  position: relative; //to prevent stacking context issues with the pseudo element
}

.icon {
  position: relative;
  margin-left: @navigation-link-icon-margin-left;
  margin-right: @navigation-link-icon-margin-right;
  width: @navigation-link-icon-size;
  display: inline-block;
}

.text {
  line-height: 30px;
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  width: @container-link-text-expanded-width;
}

.selected {
  color: @ak-navigation-selected-link-color;
}
