// For styles that are shared between shadow and host (variable definitions ONLY)

@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/fonts.less';

// this is duplicated in index.js
@global-bar-width: 60px;
@container-collapsed-width: 60px;
@expanded-width: 280px;
@container-padding-expanded: 20px;

@navigation-link-icon-margin-left: 10px;
@navigation-link-icon-margin-right: 20px;
@navigation-link-icon-size: 20px;

// From left to right: subtract all expanded widths to figure out how much space we have left
@container-link-text-expanded-width:
  @expanded-width - @global-bar-width - @container-padding-expanded -
  @navigation-link-icon-margin-left - @navigation-link-icon-size - @navigation-link-icon-margin-right;

