.blockTypeSelect {
  position: relative;
}

.dropdown-content {
  list-style-type: none;
  padding: 0;
  border-radius: 0 3px 3px 3px;
  box-shadow: 0 0 0 0.5px rgba(0,0,0,0.05), 0 3px 10px -4px rgba(0,0,0,0.4);
  overflow: hidden;
  display: none;
  position: absolute;
  margin-top: -3px;
  width: 170px;
  z-index: 1;

  &.dropdownOpen {
    display: block;
  }

  [block-type-name=normal-text] {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  }

  [block-type-name=heading1] {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.01em;
  }

  [block-type-name=heading2] {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }

  [block-type-name=heading3] {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }

  [block-type-name=code] {
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
  }
}
