@import 'shared-variables.less';

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-tag,
ak-tag {
  display: inline-block;

  &:not([defined]) {
    display: none;
  }
}
