@import 'shared-variables.less';

.root {
  background: transparent;
  border: 0 solid transparent;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: 0 0 0 2px @ak-editor-focus;
    outline: none;
  }
}
