@import 'shared-variables.less';

.root {
  border: 1px solid @ak-editor-subtle-accent;
  font-size: 14px;
  padding: 20px;

  .childContent() { margin: 20px; }
  > slot > * { .childContent(); }
  > ::content > * { .childContent(); }
  > ::slotted(*) { .childContent(); }
}

.footer {
  display: flex;
  align-items: center;
}

.actions {
  flex-grow: 1;
}

.insert {
}

.button-mixin() {
  cursor: pointer;
  font-size: inherit;
}

.saveButton {
  .button-mixin();
  background: @ak-editor-primary-button;
  border: 1px solid @ak-editor-primary-button;
  border-radius: 3px;
  color: white;
  padding: 5px 15px;
}

.cancelButton {
  .button-mixin();
  background: none;
  border: none;
  margin-left: 20px;
  opacity: 0.5;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.icon-button {
  .button-mixin();
  background: none;
  border: none;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.openTop {
  border-top: 0;
}
