@import 'shared-variables.less';

.group {
  box-sizing: border-box;
  display: block;
}

.title {
  color: @ak-dropdown-font-heading;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  padding: 0 @ak-dropdown-item-padding;
  text-transform: uppercase;
}
