// For styles that are shared between shadow and host (variable definitions ONLY)

@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/fonts.less';

@grid: 4;
@item-spacing: unit(@grid * 2, px);

@ak-dropdown-border-radius: 3px;
@ak-dropdown-background-main: @ak-color-N700;
@ak-dropdown-background-active: @ak-color-B50;
@ak-dropdown-background-selected: @ak-color-N900;
@ak-dropdown-background-hover: @ak-color-N900;
@ak-dropdown-background-disabled: @ak-color-N700;

@ak-dropdown-focused-outline: @ak-color-B200;

@ak-dropdown-font-main: #fff;
@ak-dropdown-font-disabled: @ak-color-N80;
@ak-dropdown-font-active: @ak-color-N800;
@ak-dropdown-font-heading: @ak-color-N50;

@ak-dropdown-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

@ak-dropdown-item-padding: @item-spacing;
@ak-dropdown-group-margin: @item-spacing;

.flex() {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}
