@import 'shared-variables.less';

.ak-inline-dialog, // only for use in storybook
ak-inline-dialog {
  display:none;

  &[open] {
    display:block;
  }
}

ak-animtest {
  &[defined] {
    display: block;
  }
}
