@import 'shared-variables.less';

.inlineDialogContainer {
  background: @ak-panel-bg-color;
  border: 1px solid @ak-inline-dialog-border-color;
  border-radius: @ak-inline-dialog-border-radius;
  box-shadow: @ak-inline-dialog-box-shadow;
  padding: @ak-inline-dialog-content-padding;
}

.animateContainer {
  overflow:hidden;
}

.animateContainerInner {
  opacity:0;
}
