@import 'shared-variables.less';

ak-editor-button {
  color: @ak-editor-inactive-foreground;
  display: flex;
  font-size: 17px;
  height: 20px;
  line-height: 20px;

  &[active] {
    color: @ak-editor-active-foreground;
  }
}
